<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/assets/css/normalize.min.css' />
    <link rel='stylesheet' href='/assets/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main id="content" class="main main_center">
      <div class="container">
        <h1><%= title %></h1>
        <form id="upload-form" class="form" enctype="multipart/form-data" method="post" action="/xlsx">
          <label class="form-input form-input_full-width">
            <span>Выберите файл с шаблоном (.xlsx):</span>
            <input type="file" name="template_file" id="template_file" accept=".xlsx" required>
          </label>
          <label class="form-input form-input_full-width">
            <span>Выберите файл с данными (.json):</span>
            <input type="file" name="data_file" id="data_file" accept=".json" required>
          </label>
          <label class="form-input form-input_half">
            <span>Дата начала:</span>
            <input type="date" name="date_start" id="date_start" required>
          </label>
          <label class="form-input form-input_half">
            <span>Дата конца:</span>
            <input type="date" name="date_end" id="date_end" required>
          </label>
          <label class="form-input form-input_half">
            <span>Начать с номера:</span>
            <input type="number" placeholder="1" name="number_start" id="number_start" min="1" max="999">
          </label>
          <div class="form-input form-input_full-width">
            <input type="submit" value="Обработать" class="btn">
          </div>
        </form>
      </div>
    </main>
    
  </body>

  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/forms.js"></script>
</html>
