<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/assets/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Пожалуйста загрузите ваш файл в форму ниже:</p>
    <form id="upload-form" class="form">
      <div class="form-input"><input type="file" name="upload-file" id="upload-file"></div>
      <div class="form-input"><input type="submit" value="Загрузить"></div>
    </form>
  </body>

  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/forms.js"></script>
</html>
