<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/assets/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Пожалуйста загрузите ваш файл в форму ниже:</p>
    <form id="upload-form" class="form" enctype="multipart/form-data" method="post" action="/xlsx">
      <label class="form-input">
        <span>Выберите файл с шаблоном (.xlsx):</span>
        <input type="file" name="template_file" id="template_file" accept=".xlsx" required>
      </label>
      <label class="form-input">
        <span>Выберите файл с данными (.json):</span>
        <input type="file" name="data_file" id="data_file" accept=".json" required>
      </label>
      <div class="form-input">
        <input type="submit" value="Обработать" class="btn">
      </div>
    </form>
  </body>

  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/forms.js"></script>
</html>
