body {
  padding: 50px 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form {
  padding: 15px;
  border: 1px dashed lightgray;
  max-width: 325px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form input[type="file"] {
  width: 100%;
}
.form-input + .form-input {
  margin-top: 1em;
}
.form-response {
  color: green;
  width: 100%;
  margin: 1em 0 0;
}
.form-response.error {
  color: red;
}
@media screen and (max-width: 400px) {
  .form {
    margin-left: -15px;
  }
}