:root {
  --main-color: rgb(0, 183, 255);
}

* {
  box-sizing: border-box;
}

body {
  padding: 50px 0;
  margin: 0;
  font: 14px Arial, sans-serif;
}

.container {
  padding: 0 15px;
}

.main_center {
  text-align: center;
}
.main_center form {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 2em;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}
.btn:hover {
  background-color: #000;
}

.text-accent {
  color: var(--main-color);
}

.form {
  padding: 15px;
  border: 1px dashed lightgray;
  max-width: 100%;
  width: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2.5rem 0;
}
.form-input {
  display: flex;
  flex-wrap: wrap;
}
.form-input input:not([type="checkbox"]) {
  width: 100%;
}
.form-input input[type="checkbox"] {
  margin: 0 0.5em 0 0;
}
.form-input_full-width {
  width: 100%;
}
.form-input_small {
  width: 100px;
}
.form-input_half {
  width: calc(50% - 10px);
}

.form-input + .form-input {
  margin-top: 1em;
}
.form-input span {
  display: block;
  margin-bottom: 0.5em;
}
.form-response {
  color: green;
  width: 100%;
  margin: 1em 0 0;
}
.form-response.error {
  color: red;
}
@media screen and (max-width: 400px) {
  .form {
    margin-left: -15px;
  }
}